In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("Q7.csv")

In [11]:
df[["Points","Score","Weigh"]].agg(["mean","median","var","std","min","max"])

          Points     Score      Weigh
mean    3.596563  3.217250  17.848750
median  3.695000  3.325000  17.710000
var     0.285881  0.957379   3.193166
std     0.534679  0.978457   1.786943
min     2.760000  1.513000  14.500000
max     4.930000  5.424000  22.900000

In [12]:
df[["Points","Score","Weigh"]].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90